{% extends 'base.html' %}

{% block content %}


<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-9 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa.shopping-cart text-danger"></i>Crat items</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div class="text-center pt-5" id="empty-cart" style="display: none">
                                        <h1>Cart is empty</h1>
                                    </div>

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        {% if cart_items %}
                                        <ul>
                                            {% for item in cart_items %}
                                            <li id="cart-item-{{item.id}}">
                                                <div class="image-holder"> <img src="{{ itemfood.image.url }}" alt=""></a></div>
                                                <div class="text-holder">
                                                    <h6>{{ item.fooditem }}</h6>
                                                    <span>{{ item.fooditem.description }}</span>
                                                    <a href="{% url 'vendor_detail' item.fooditem.vendor_slug %}" class="badge badge-warning">
                                                        {{ item.fooditem.vendor }}
                                                    </a>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price" >$ {{ item.fooditem.price }} </span>
                                                    <a href="#" class="decrease_cart" data-id="{{ item.fooditem.id }}" id="{{item.id}}"  data-url="{{% url 'decrease_cart' item.fooditem.id %}}"  style = "margin-right:200px" ><i class="icon-minus text-color"></i></a>
                                                    <label id="qty-{{item.fooditem.id}}" class="item_qty d-none">0</label>
                                                    <a href="#" class="add_to_cart" data-id="{{ item.fooditem.id }}" data-url="{{% url 'add_to_cart' item.fooditem.id %}}"><i class="icon-plus4 text-color"></i></a>
                                                    <a href="#" class="delete_cart" data-id="{{ item.id }}" data-url="{{% url 'delete_cart' item.id %}}"><i class="icon-delete text-color"></i></a>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        {% else %}
                                            <div class="text-center pt-5">Cart is empty</div>
                                        {% endif %}

                                            <!-- <li>
                                                <div class="image-holder"> <a href="assets/extra-images/cover-photo10-1024x187.jpg"><img src="assets/extra-images/cover-photo10-150x150.jpg" alt=""></a></div>
                                                <div class="text-holder">
                                                    <h6>Garlic Bread 12" Deep</h6>
                                                    <span>Pizza bread made with extra virgin olive oil</span>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price">£3.50</span>
                                                    <a href="#" class="restaurant-add-menu-btn"><i class="icon-plus4 text-color"></i></a>
                                                    <span id="add-menu-loader-11"></span>
                                                </div>
                                            </li> -->
                                        </ul>
                                        
                                    </div>
                                    {% for item in cart_items %}
                                    <span id="qty-{{item.fooditem.id}}" class="item-qty d-name" data-qty="{{ item.quantity }}">{{ item.quantity }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- YOUR ORDER SECTION  -->

                <div class="col-lg-8 col-md-9 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                               
                                </div>
                                    <ul>
                                        <li style="list-style-type: none;">
                                            Subtotal
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="subtotal">{{ subtotal }}</span>
                                            </span>
                                        </li> 
                                        <li style="list-style-type: none;">
                                            Tax
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="tax">{{ tax }}</span>
                                            </span>
                                        </li> 
                                        <li style="list-style-type: none;font-weight: 600;">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="total">{{ grand_total }}</span>
                                            </span>
                                        </li> 
                                        
                                         
                                    </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}