{% extends 'base.html' %}
{% load 'static' %}
{% block content %}

<!-- we use the template of cart.html to construct the template of checkout.html -->

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa.shopping-cart text-danger"></i>Billing Adress</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                       
                                        <form action="{% url 'place_order' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First_name: {{form.first_name}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Last_name: {{form.last_name}}
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Phone Number: {{form.phone}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    email Adress: {{form.email}}
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-lg-6">
                                                    address {{form.address}}
                                                </div>
                                      
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    country: {{form.country}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    state: {{form.state}}
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    city: {{form.city}}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    pin code: {{form.pin_code}}
                                                </div>

                                            </div>


                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- YOUR ORDER SECTION  -->

                <div class="col-lg-8 col-md-9 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <ul>
                                        
                                            {% for item in cart_items %}
                                            <li id="cart-item-{{item.id}}">
                                                <div class="image-holder"> <img src="{{ itemfood.image.url }}" alt=""></a></div>
                                                <div class="text-holder">
                                                    <h6>{{ item.fooditem }}</h6>
                                                    <span>{{ item.fooditem.description }}</span>
                                                    <a href="{% url 'vendor_detail' item.fooditem.vendor_slug %}" class="badge badge-warning">
                                                        {{ item.fooditem.vendor }}
                                                    </a>
                                                </div>
                                                <div class="quantity" style="display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); margin-top: -10px">
                                                    <span>{{item.quantity}} QTY</span>
                                                </div>
                                                <div class="price-holder">
                                                    <span class="price" >$ {{ item.fooditem.price }} </span>
                                                   
                                                </div>
                                            </li>
                                            {% endfor %}
                                        
                                        </ul>
                                        
                                    </div>
                                    
                                </div>
                                    <ul>
                                        <li style="list-style-type: none;">
                                            Subtotal
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="subtotal">{{ subtotal }}</span>
                                            </span>
                                        </li> 
                                        {% for key, value in tax_dict.items %}
                                            {% for i , j in value.items %}
                                                <li style="list-style-type: none;">
                                                    {{ key }} <small>({{ i }}%)</small>
                                                    <span class="price float-right">
                                                        <span class="currency">$</span>
                                                        <span id="tax-{{ key }}">{{ j }}</span>
                                                    </span>
                                                </li>
                                            {% endfor %} 
                                        {% endfor %}
                                        <li style="list-style-type: none;font-weight: 600;">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="total">{{ grand_total }}</span>
                                            </span>
                                        </li> 
                                        <!-- payment method -->
                                        <h5>select payment method</h5>
                                        <div class="payment-method">
                                            <label>
                                                <input type="radio" name="payment_value" value="Paypal">
                                                <img src="{% static 'images/PayPal.png' %}" alt="PayPal" width="100">
                                            </label>
                                            &emsp;
                                            <label>
                                                <input type="radio" name="payment_value" value="RazorPay">
                                                <img src="{% static 'images/RazorPay.png' %}" alt="RazorPay" width="100">
                                            </label>
                                        </div>
                                        <span class="text-danger" id="payment-method-error"></span>
                                            <!-- this button will submit the form above last  -->
                                        <button onclick="return PaymentMethodConfirm" type="submit" href="{% url 'checkout' %}" class="btn btn-danger w-100 p-2 mt-3">Place order</button>

                                        
                                         
                                    </ul>
                                    </form>
                            </div>
                            
                        </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    function payMethodConfirm(){
        var payMethod= $("input[name='payment_method']: checked").val()
        if(! payMethod) {
            $('#payment-method-error').html('select payment method')
            return false;
        }else{
            var conf = confirm('You have selected '+payMethod+'as you preferred payment method.\n click "OK" to continue')
            if(conf == true){
                return true;
            }else{
               return false 
            }
        }
            

    }
    $('input[name-payment_method]').on('change', function(){
        $('#payment-method-error').html('');
    })
</script>

{% endblock %}